.flex-base {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-fill {
    font-family: 'Poppins', sans-serif;
    background-color: #6c5fbc;
    color: #fff;
    font-weight: 500;
    border-radius: 12.4px;
    padding: 12px 32px;
    font-size: clamp(0.813rem, 0.745rem + 0.28vw, 1rem);
}

.button-Notfill {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #6c5fbc;
    border-radius: 12.4px;
    padding: 12px 32px;
    font-size: clamp(0.813rem, 0.745rem + 0.28vw, 1rem);
    border: #6c5fbc solid 1px;
}
