@import 'reset';
@import 'fonts';
@import 'otherClasses';
@import 'blocks/header';
@import 'blocks/purple';
@import 'blocks/premium';
@import 'blocks/restaurants';
@import 'blocks/dishes';

.show-translate {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
    max-height: 100000px;
}

